-
  var reviews = [
    {
      photo: 'user1.jpg',
      name: 'Ковальчук Дмитрий',
      pos: 'Основатель Loftschool',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      photo: 'user2.jpg',
      name: 'Владимир Сабанцев',
      pos: 'Преподаватель',
      text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'
    },
    {
      photo: 'user1.jpg',
      name: 'Ковальчук Дмитрий',
      pos: 'Основатель Loftschool',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      photo: 'user2.jpg',
      name: 'Владимир Сабанцев',
      pos: 'Преподаватель',
      text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'
    }
  ]

.about#about
  .about__container.container
    .about__header
      h2.section-title Что обо мне говорят
      .about__control
        a.about__arrow.about__arrow--left(href="#")
          +icon('arrow-down', 'about__icon')
        a.about__arrow.about__arrow--right(href="#")
          +icon('arrow-down', 'about__icon')
    ul.about__list
      - for (var i = 0; i < reviews.length; i++)
        li.review.about__item
          .review__content
            .review__text
              p= `${reviews[i].text}`
            .review__user
              .review__img
                +image(`content/${reviews[i].photo}`, '', `${reviews[i].name}`)
              .review__subs
                h4.review__name= `${reviews[i].name}`
                span.review__position= `${reviews[i].pos}`