- 
  var work = [
    {
      img: '1',
      skill: ['HTML', 'CSS', 'javascript'],
      link: '#',
      title: 'Сайт школы образования',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      img: '2',
      skill: ['HTML5', 'CSS3', 'javascript'],
      link: '#',
      title: 'Сайт школы образования',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      img: '3',
      skill: ['HTML5', 'CSS3', 'javascript'],
      link: '#',
      title: 'Сайт школы образования',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      img: '4',
      skill: ['HTML5', 'CSS3', 'javascript'],
      link: '#',
      title: 'Сайт школы образования',
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
    }
  ]

//- section works
.works
  .works__container.container
    .works__title Мои работы
    .works__slider
      .slider
        .preview
          ul.preview__list
            - for (var i = 0; i < work.length; i++)
              li.preview__item
                - var img = require(`images/content/${work[i].img}.jpg`)
                a.preview__link(style=`background-image:url(${img})`, href='#')
          .preview__control
            a.preview__arrow.preview__arrow--left(href="#")
              +icon('arrow-down', 'preview__arrow-icon')
            a.preview__arrow.preview__arrow--right(href="#")
              +icon('arrow-down', 'preview__arrow-icon')
              
        .slides
          ul.slider__list
            - for (var i = 0; i < work.length; i++)
              li.slider__item
                .slider__img
                  +image(`content/${work[i].img}.jpg`)
                .slider__idx= `${i+1}`
                .slider__subs
                  ul.slider__skills
                    - for (var j = 0; j < work[i].skill.length; j++)
                      li.slider__skill= `${work[i].skill[j]}`
                  .slider__title= `${work[i].title}`
                  .slider__text
                    p= `${work[i].text}`
                  a.slider__link(href=`${work[i].link}` target='_blank')
                    +icon('link', 'slider__icon')
                    span Посмотреть сайт